<footer class="site-footer h-card">
  <data class="u-url" href="{{ " / " | relative_url }}"></data>
  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->
      <div class="one-column footer">
        <div class="footer-center">
          {%- if site.email -%}
        <h2>
        {{ site.email }}
        </h2>
          {%- endif -%}

          {%- if site.facebook -%}
        <h2>
        <a href="{{ site.facebook }}">Facebook</a>
        </h2>
          {%- endif -%}

          {%- if site.vimeo -%}
        <h2>
        <a href="{{ site.vimeo }}">Vimeo</a>  
        </h2>
          {%- endif -%}
        </div>
      </div>

  </div>

</footer>

<!-- <li class="p-name">
{%- if site.author -%}
{{ site.author | escape }}
{%- else -%}
{{ site.title | escape }}
{%- endif -%}
</li> -->
<!-- <div class="footer-col footer-col-2">
{%- include social.html -%}
</div> -->

<!-- <div class="footer-col footer-col-3">
<p>{{- site.description | escape -}}</p>
</div> -->
