<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}


      <div class="center-item">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
          {% for post in site.categories.logo-image %}
            <img src="{{ site.url }}{{ post.image }}" alt="Human Horizon Films Logo">
          {% endfor %}
       </a>
      </div>

  </div>
</header>
