<div class="two-column full-height">
  <div class="first-column grid">

    <div class="video-container">
      <iframe class='lazy' src="https://player.vimeo.com/video/254956999" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p>Video Title / Client name
        <br>
        2018</p>
    </div>

    <div class="video-container">
      <iframe class='lazy' src="https://player.vimeo.com/video/254956999" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p>Video Title / Client name
        <br>
        2018</p>
    </div>

  </div>
  <div class="second-column grid">

    <div class="video-container">
      <iframe class='lazy' src="https://player.vimeo.com/video/254956999" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p>Video Title / Client name
        <br>
        2018</p>
    </div>
  </div>
</div>
