/**
 * Site header
 */
.site-header {
  // min-height: $spacing-unit * 1.865;
  // Positioning context for the mobile navigation icon
  position: relative;
}
.fixed {
  position: fixed;
}
.center-item {
  width: 120px;
  margin: auto;

  img {
    padding-top: 5%;
    position: fixed;
    width: 120px;
    height: auto;
  }
}

/**
 * footer
 */
.site-footer {
  background-color: $black;
  color: white;
}

.footer-center-height{
  padding: 30vh;
}

.footer {
height: 50vh;

}

/**
 * home > intro
 */

  img {
    width: 100%;
  }


 .full-height {
   height: 100vh;
 }

.grid {

.video-container {
  padding:5% 5% 0 5%;

.vid-cover {
  display: flex;
  justify-content: center;
  align-items: center;

  .play_button {
    width: 100px;
    height: 40px;
    border: .5px solid $light-gray;
    position: absolute;
    background: rgba(0,0,0, 0.3);

    p {
      font-family: $base-font-family;
      color: $light-gray;
      letter-spacing: 5px;
    }

    &:hover {
      background: rgba(0,0,0, 0.7);

      transition: all 500ms;
      transition-property: all;
      transition-duration: 500ms;
      transition-timing-function: ease;
      transition-delay: 0s;
    }
  }
}
  }
}


.featherlight .featherlight-inner {
  width: 700px;
  height: 394px;
}


.half-wid-img {
  img {
    max-width: 50%;
  }
}

//////// marquee

.marquee {
  height: 100px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin-top: 92vh;
}
.bigmarquee {
  background-color: black;
  width: 100%;
  overflow: hidden;

  h1 {
    color: white;
    font-size: 70vh;
  }
}



//////// one column

.one-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-column {
  width: 500px;
  height: 280px;

    iframe {
      margin: auto;
      width:100%;
      height:100%;
    }
}

.center {
  width: 500px;

  #window-holder {
    position: absolute;
    // z-index: -10;
  }
}

.img-container {
  width: 30%;
  margin: auto;
  padding-top: 50px;
}


//////// two column

.two-column {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

  #cloud-background {
    width: 100%;
    position: absolute;
    z-index: -10;
  }

  #cloud-holder {
    position: absolute;
    z-index: -5;
  }

  .first-column {
    width: 50%;
    flex-grow: 1;


    h2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .second-column {
    width: 50%;
    flex-grow: 1;

    #white-text {
      color: white;
    }

    .vid-hideoverflow {
      height: 80vh;
      overflow: hidden;

      #iframe-container {
        height: 80vh;

        iframe {
        }
      }
    }

    h2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}




/**
 * Page content
 */
.page-content {
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);
    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
