/**
 * Site header
 */
.site-header {
  // min-height: $spacing-unit * 1.865;
  // Positioning context for the mobile navigation icon
  position: relative;
}
.fixed {
  position: fixed;
}
.center-item {
  width: 120px;
  margin: auto;

  img {
    padding-top: 5%;
    position: fixed;
    width: 120px;
    height: auto;
  }
}

/**
 * footer
 */
.site-footer {
  background-color: $black;
  color: white;
}

.footer-center-height{
  padding: 30vh;
}

.footer {
height: 50vh;

}

/**
 * home > intro
 */


  iframe {
    margin: auto;
    width:100%;
    height:100%;
  }

  img {
    width: 100%;
  }


 .full-height {
   height: 100vh;
 }

.grid {

.video-container {
  padding:5% 5% 0 5%;

  iframe {
    width: 100%;
    height: 260px;
    }
  }
}

.half-wid-img {
  img {
    max-width: 50%;
  }
}

.one-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-column {
  width: 500px;
  height: 280px;
}

.center {
  width: 500px;
}

.two-column {
  display: flex;
  align-items: center;
  justify-content: center;

  .first-column {
    width: 50%;
    flex-grow: 1;


    h2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .second-column {
    width: 50%;
    flex-grow: 1;

    h2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

#white-text {
  color: white;
}

.img-container {
  width: 30%;
  margin: auto;
  padding-top: 50px;
}

#cloud-holder {
  position: absolute;
  z-index: -1;
}



.marquee {
  height: 100px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin-top: 85vh;
}
.bigmarquee {
  background-color: black;
  width: 100%;
  overflow: hidden;

  h1 {
    color: white;
    font-size: 70vh;
  }
}


/**
 * Page content
 */
.page-content {
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);
    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
