
.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('/assets/images/loading.gif');
   background-repeat: no-repeat;
   background-color: #f5f5f5;
   background-position: center;
   background-size: 150px;
}


/**
 * Site header
 */
.site-header {
  position: relative;
}

.fixed {
  position: fixed;
}

.center-item {
  width: 40vw;
  margin: auto;

  @include media-query($on-palm) {
    width: 90vw;
  }

  img {
    padding-top: 5%;
    width: 40vw;
    height: auto;
    @include media-query($on-palm) {
      width: 90vw;
    }
  }
}
/**
 * footer
 */

 .site-footer {
   background-color: $black;
   color:$light-gray;
 }
.footer-center-height {
  padding: 30vh;
}

.footer {
  height: 50vh;
}

/**
 * home > intro
 */
img { width: 100%;}

.full-height { height: 100vh;}

.full-height-intro { height: 90vh;}

.grid {
  .video-container { padding: 5% 5% 0;
    .video-title {
      padding-top: 10px;
    }
  }
}
///////// custom play button
.hide {display: none;}

.vid-cover {
  display: flex;
  justify-content: center;
  align-items: center;

  .play_button {
    width: 100px;
    height: 40px;
    border: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.0);
    cursor: pointer;

    p {
      font-family: $base-font-family;
      color: $light-gray;
      letter-spacing: 2px;
      font-size: 18px;
      height: 22px;
    }
  }
}

.featherlight .featherlight-inner {
  width: 100%;
  height: 100%;
}

.featherlight-iframe .featherlight-content {
  width: 900px !important;
  height: 506px !important;
  @include media-query($on-tablet) {
    width: 100vw !important;
    height: 48vh !important;
  }
  background: transparent !important;
}

.featherlight .featherlight-content {
  margin-left:0 !important;
  margin-right:0 !important;
}


.half-wid-img {
  img {
    max-width: 50%;
  }
}
//////// marquee
.marquee {
  height: 100px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin-top: 80vh;
  @include media-query($on-palm) {
    margin-top: 70vh;
  }
}

.bigmarquee {
  background-color: black;
  width: 100%;
  overflow: hidden;

  h1 {
    color: white;
    font-size: 70vh;
  }
}
// hide sections
.animate {
  opacity: 0;
}
//////// one column
.one-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-intro-vid {
  @include media-query($on-palm) {
    width: 100%;
    height: 300px;
  }
}

.center {
  width: 500px;
  #window-holder {
    position: absolute;
  }
  @include media-query($on-palm) {
    h2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.img-container {
  width: 30%;
  margin: auto;
  padding-top: 50px;
}
//////// two column
.two-column {
  // margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-query($on-palm) {
    display: inline;
  }

  #cloud-background {
    width: 100%;
    position: absolute;
    z-index: -10;
    cursor: pointer;
  }

  #cloud-holder {
    cursor: pointer;
    position: absolute;
    z-index: -5;
    max-width: 95vw;
    overflow: hidden;
    @include media-query($on-palm) {
      height: 50%;
      max-width: 100%;
      overflow-y: hidden;
    }
  }

  .click {
    cursor: pointer !important;
  }

  .vid-tall-loop {
    height: 80vh;
    overflow: hidden;
    @include media-query($on-palm) {
      height: 60vh;
    }
  }

  .vid-short-loop {
    // height: 30vh;
    overflow: hidden;
    // width: 70%;

    video {
      width: 150%;
    }
  }

  .first-column {
    width: 50%;
    flex-grow: 1;
    @include media-query($on-palm) {
      width: 100%;
    }

    h2 {
      padding-left: 10px;
      padding-right: 10px;
      @include media-query($on-palm) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .second-column {
    width: 50%;
    flex-grow: 1;
    @include media-query($on-palm) {
      width: 100%;
    }

    #white-text {
      color: white;
    }

    h2 {
      padding-left: 10px;
      padding-right: 10px;
      @include media-query($on-palm) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
/////// MOBILE
.marginbottom {
  margin-bottom: 0;
  @include media-query($on-palm) {
    margin-bottom: 20%;
  }
}

.margintop {
  margin-top: 0;
  @include media-query($on-palm) {
    margin-top: 20%;
  }
}
.margintop-50 {
  margin-top: 0;
  @include media-query($on-palm) {
    margin-top: 50%;
  }
}

.mobile-hide {
  @include media-query($on-palm) {
    display: none;
  }
}
  @include media-query($on-palm) {
    #email {
    font-size: 18px;
  }
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-tablet) {
    @include relative-font-size(2.25);
  }
}
