<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <!-- <div class="box">
      <div class="loading-background"></div>
      <div class="loading-bar"></div>
    </div> -->
<!-- <div class="preloader"></div> -->
<noscript>
<style type="text/css">
body {
    /* Re-displays it by overriding the above */
    display: block;
}
</style>
</noscript>

    {%- include header.html -%}
    <div class="marquee animate">
        {% for post in site.categories.scrolling %}
          {{ post.content }}
        {% endfor %}
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  </body>
</html>
