<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="marquee">
      <h1>It all begins with unlocking the story.</h1>
  </div>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

<script src="/assets/js/main.js" charset="utf-8"></script>
<script src="/assets/js/sketch.js" charset="utf-8"></script>
  </body>

</html>
