---
layout: default
---

<div class="home">

  <div class="one-column full-height">
    <div class="center-column">

      <iframe class='lazy' src="https://player.vimeo.com/video/254956999" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    </div>
  </div>

  <div class="two-column full-height">
    <div class="first-column">
      <h2>
        {% for post in site.categories.description1 %}
            {{ post.content }}
        {% endfor %}
      </h2>

    </div>
    <div class="second-column">
      <div class="vid-hideoverflow">
        <video muted="muted" autoplay="autoplay" playsinline loop>
          <source src="https://player.vimeo.com/external/286281208.hd.mp4?s=15d276c8c88d159274ea9967f18e0543163265dc&profile_id=174" type="video/mp4">
        </video>
      </div>
    </div>
  </div>

    <div class="two-column full-height">
      <div class="first-column grid">

        <div class="video-container">
          {% for post in site.categories.column1-video1 %}
            <a href="{{ post.content }}" class='grid-vid' data-featherlight="iframe">
              <div class="vid-cover">
                <button class="play_button" data-vid="1"><p>PLAY</p></button>
                <img id="vimeo-286109621" src="" alt="">
              </div>
            </a>
            {{ post.title }}
          {% endfor %}
        </div>

        <div class="video-container">
          {% for post in site.categories.column1-video2 %}
            <a href="{{ post.content }}" class='grid-vid' data-featherlight="iframe">
              <div class="vid-cover">
                <button class="play_button" data-vid="1"><p>PLAY</p></button>
                <img id="vimeo-285408465" src="" alt="">
              </div>
            </a>
            {{ post.title }}
          {% endfor %}
        </div>

      </div>
      <div class="second-column grid">

        <div class="video-container">
          {% for post in site.categories.column2-video1 %}
            <a href="{{ post.content }}" class='grid-vid' data-featherlight="iframe">
              <div class="vid-cover">
                <button class="play_button" data-vid="1"><p>PLAY</p></button>
                <img id="vimeo-285885237" src="" alt="">
              </div>
            </a>
            {{ post.title }}
          {% endfor %}
        </div>

      </div>
    </div>


    <div class="two-column full-height">
      <!-- <div  id="cloud-background">
        <iframe src="https://player.vimeo.com/video/286275717" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div> -->
      <div  id="cloud-holder"></div>
      <div class="first-column half-wid-img">
        <!-- <img src="{{site.url}}/assets/images/img3.jpg" alt="">
        <img src="{{site.url}}/assets/images/img3.jpg" alt=""> -->
      </div>
      <div class="second-column">
        <h2 id='white-text'>
          {% for post in site.categories.description2 %}
          {{ post.content }}
          {% endfor %}
        </h2>
      </div>
    </div>

    <div class="one-column full-height">
      <div class="center">
        <!-- <div id="window-holder"></div> -->
        <h2>
        {% for post in site.categories.description3 %}
          {{ post.content }}
        {% endfor %}
        </h2>
        <div class="img-container">
          <img src="{{site.url}}/assets/images/hhf_mark_circle_web.png" alt="">
        </div>
      </div>
    </div>

</div>
