---
layout: default
---

<div class="home">

  <div class="one-column full-height-intro ">
    <div class="center-intro-vid">
      <div class="video-container">
        {% for post in site.categories.intro-video %}
          <a href="{{ post.excerpt }}" class='grid-vid' data-featherlight="iframe">
            <div class="vid-cover">
              <button class="play_button">
                <p>PLAY</p>
                <img src="assets/images/hhf_mark_slash_web.png" alt="">
              </button>
              {{ post.content | remove: post.excerpt }}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="two-column full-height">
    <!-- {% for post in site.categories.description1 %} -->
    <div class="first-column marginbottom">
      <h2>{{ site.description-p1 }}</h2>
    </div>
    <div class="second-column">
      <div class="vid-tall-loop">
        <video muted="muted" autoplay="autoplay" playsinline loop>
          {{ post.content | remove: post.excerpt }}
        </video>
      </div>
    </div>
    <!-- {% endfor %} -->
  </div>

  <div class="two-column full-height">
      <div class="first-column grid margintop">

        <div class="video-container lazyload animate">
          {% for post in site.categories.column1-video1 %}
            <a href="{{ post.excerpt }}" class='grid-vid' data-featherlight="iframe">

              <div class="vid-cover">
                <button class="play_button">
                  <p>PLAY</p>
                  <img src="assets/images/hhf_mark_slash_web.png" alt="">
                </button>
                {{ post.content | remove: post.excerpt }}
              </div>
            </a>
            <div class="video-title">{{ post.title }}</div>
          {% endfor %}
        </div>

        <div class="video-container lazyload animate">
          {% for post in site.categories.column1-video2 %}
            <a href="{{ post.excerpt }}" class='grid-vid' data-featherlight="iframe">
              <div class="vid-cover">
                <button class="play_button">
                  <p>PLAY</p>
                  <img src="assets/images/hhf_mark_slash_web.png" alt="">
                </button>
                {{ post.content | remove: post.excerpt }}
              </div>
            </a>
            <div class="video-title">{{ post.title }}</div>
          {% endfor %}
        </div>

      </div>
      <div class="second-column grid marginbottom">

        <div class="video-container lazyload animate">
          {% for post in site.categories.column2-video1 %}
            <a href="{{ post.excerpt }}" class='grid-vid' data-featherlight="iframe">
              <div class="vid-cover">
                <button class="play_button">
                  <p>PLAY</p>
                  <img src="assets/images/hhf_mark_slash_web.png" alt="">
                </button>
                {{ post.content | remove: post.excerpt }}
              </div>
            </a>
            <div class="video-title">{{ post.title }}</div>
          {% endfor %}
        </div>
      </div>
    </div>

  <div class="two-column full-height">
      <div class="lazyload click" id="cloud-holder"></div>
      <div class="first-column half-wid-img mobile-hide click animate">
        {% for post in site.categories.cloud-video %}
        <div class="vid-short-loop mobile-hide click">
          <video muted="muted" autoplay="autoplay" playsinline loop>
            <source class="lazyload" src="{{ post.content }}" type="video/mp4">
          </video>
        </div>
        {% endfor %}
      </div>
      <div class="second-column margintop-50 click">
        <h2 id='white-text'>
          {{ site.description-p2 }}
        </h2>
      </div>
    </div>

  <div class="one-column full-height">
      <div class="center">
        <h2>
        {{ site.description-p3 }}
        </h2>
        <div class="img-container">
          <img src="{{site.url}}/assets/images/hhf_mark_circle_web.png" alt="">
        </div>
      </div>
    </div>

</div>
