---
layout: default
---

<div class="home">

  {%- include 1_intro.html -%}

  <div class="two-column full-height">
    <div class="first-column">
      <h2>
        {% for post in site.posts %}
            {{ post.content }}
          {% endfor %}
      </h2>

    </div>
    <div class="second-column">
      <img src="{{site.url}}/assets/images/img1.jpg" alt="">
      <img src="{{site.url}}/assets/images/img2.jpg" alt="">
    </div>
  </div>

  {%- include 3_clouds.html -%}
  {%- include 4_video_grid.html -%}


</div>
